ANDROID_KEYSTORE_PASSWORD=placeholder_keystore_password
ANDROID_KEYSTORE_PATH=placeholder_keystore_path
ANDROID_KEY_ALIAS=placeholder_key_alias
ANDROID_KEY_PASSWORD=placeholder_key_password
APPLE_ID=placeholder_apple_id
ENGINE_BASE_URL=placeholder_engine_url
GEMINI_API_KEY=placeholder_gemini_api_key
PLAY_JSON_KEY=placeholder_play_json_key
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJyb2xlIjogImFub24iLAogICJpc3MiOiAic3VwYWJhc2UiLAogICJpYXQiOiAxNzQxMDM5MjAwLAogICJleHAiOiAxODk4ODA1NjAwCn0.w-F512sUPOy0uXnJ9BHu1rn-9ZNw7xP3MhS7d8Agjdw
SUPABASE_URL=https://kong.03092017.xyz/
TEAM_ID=placeholder_team_id